@font-face {
  font-family: "dogica";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/dogica.otf) format("opentype");
}

@font-face {
  font-family: "dogicabold";
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/dogica.otf) format("opentype");
}

@font-face {
  font-family: "dogicapixel";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/dogicapixel.otf) format("opentype");
}

@font-face {
  font-family: "dogicapixelbold";
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/dogicapixelbold.otf) format("opentype");
}

@font-face {
  font-family: "whitney";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/whitneymedium.otf) format("opentype");
}

@font-face {
  font-family: "whitneybold";
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/whitneybold.otf) format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
